@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

.App {
  text-align: center;
  color: white;
}
body {
  background-color: black;
  font-family: 'Exo';
}
table {
  display: inline-block;
  margin: 5px 0;
  border-collapse: collapse;
}
th, td {
  border: 1px solid white;
  padding: 10px;
}
.percentage {
  width: 75%;
}
